<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_IoT"
        tools:targetApi="31">
        <activity
            android:name=".alumno.AlumnoPerfilContrasenaActivity"
            android:exported="false"
            android:theme="@style/Alumno"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".alumno.AlumnoInicioTodos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alumno.AlumnoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alumno.AlumnoPerfilActivity"
            android:exported="false"
            android:theme="@style/Alumno"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".inicioApp.ConfirmNewPasswActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.ChangePasswActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.FPVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.ForgotPasswActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.ConfirmarregistroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".inicioApp.IngresarActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".delegadoGeneral.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>